body {
  direction: rtl;
  text-align: start;
}
.owl-carousel {
  direction: ltr;
}
.owl-carousel .carousel-card {
  direction: rtl;
}

.arrow {
  transform: scaleX(-1);
}
p {
  font-size: 18px;
}
.main-side-nav ul {
  padding-right: 0;
}
.language .sec-language {
  left: auto;
  right: 0;
}
