body {
  font-family: "Inter", sans-serif;
}

/* global */
.text-main {
  color: #84754d;
}

.pointer {
  cursor: pointer;
}
.h1-lg {
  font-size: 56px;
}
.h1-md {
  font-size: 36px;
  font-weight: 600;
}
a {
  color: black;
  text-decoration: none;
}
.py-10 {
  padding-block: 50px;
}
.py-20 {
  padding-block: 100px;
}
.form-control {
  padding-block: 10px;
  border-radius: 10px;
}
.btn-outlined {
  border: 2px solid #84754d;
  border-radius: 10px;
  color: white;
  padding: 10px 50px;
}
.btn-outlined:hover {
  border: 2px solid #84754d;
  color: white;
}
.btn-main {
  background-color: #84754d;
  color: white;
  font-weight: 600;
  border-radius: 10px;
  padding: 10px 50px;
}
.btn-main:hover {
  background-color: rgb(96, 86, 59);
  color: white;
}

/* /////////////////// */
header .main-nav {
  padding-block: 30px;
  font-weight: 300;
}

header .main-nav,
header .main-nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
}
header .main-nav ul a {
  display: inline-block;
  padding: 10px 20px;
}
.language {
  position: relative;
  transition: 0.3;
  cursor: pointer;
}
.language img {
  transition: 0.3s;
}
.language .sec-language {
  background-color: #dadada;
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 100%;
  left: 0;
  transition: 0.3s;
  visibility: hidden;
  opacity: 0;
}

.language:hover img {
  transform: rotate(180deg);
}
.language:hover .sec-language {
  visibility: visible;
  opacity: 1;
}

#escMinuBtn {
  width: 30px;
}

.mobile-nav .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.538);
  display: none;
}

.mobile-nav .content {
  position: fixed;
  top: 0;
  left: 0;
  width: 350px;
  height: 100vh;
  background-color: white;
  z-index: 99;
  padding: 20px;
  transform: translateX(-100%);
  transition: transform 0.3s;
}
.mobile-nav .content ul .mobile-nav-item {
  display: inline-block;
  padding: 10px 0 10px 10px;
  font-weight: 500;
  transition: transform 0.3s;
}
.mobile-nav .content ul .mobile-nav-item:hover {
  transform: translateX(10px);
}

.mobile-nav.active .overlay {
  display: block;
}

.mobile-nav.active .content {
  transform: translateX(0);
}

/* intro */

.intro {
  background-image: url(../images/introbg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin-bottom: 50px;
}
.intro::after {
  content: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 89789;
}

.spaced-text {
  font-weight: 600;
  letter-spacing: 5px;
  padding-inline-start: 5px;
}
.intro form {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.581),
    rgba(255, 255, 255, 0.204)
  );
  padding: 20px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.heading-shape {
  position: absolute;
  bottom: -10px;
  left: 0;
  margin-left: 50px;
  z-index: 99;
}
.inputs {
  padding-inline: 50px;
}
.intro-bottom {
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  z-index: 9;
}
.carousel-card {
  text-align: start;
  padding: 25px;
  border: 1px solid #84754d;
  border-radius: 10px;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: box-shadow 0.3s, background-color 0.3s;
  cursor: pointer;
}
.carousel-card img {
  width: 60px !important;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}
.carousel-card p {
  font-size: 14px;
  transition: color 0.3s;
}
.carousel-card h2 {
  transition: color 0.3s;
}
.carousel-card:hover {
  background-color: #84754d;
  box-shadow: rgba(0, 0, 0, 0.235) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.carousel-card:hover p,
.carousel-card:hover h2 {
  color: white !important;
}
.carousel-card:hover img {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.owl-carousel button.owl-dot {
  width: 25px;
  height: 10px;
  background-color: #d9d9d9;
  margin: 5px;
  border-radius: 50px;
  transition: 0.3s;
  margin-top: 20px;
}
.owl-carousel button.owl-dot.active {
  width: 40px;
  background-color: #84754d;
}

.why-us-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 60px;
  text-align: center;
}
.why-us-card .image-wrapper {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  transition: 0.3s;
}
.why-us-card h5,
.why-us-card p {
  transition: 0.3s;
}
.why-us-card.active {
  border: 2px solid #84754d;
  border-radius: 10px;
  box-shadow: #84754d33 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.why-us-card.active .image-wrapper {
  background-color: #84754d;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.what-they-say {
  background-color: #716fe50a;
}
.testimonials-parent {
  width: 700px;
  margin-inline: auto;
  text-align: center;
}
.testimonials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 60px;
}
.testimonials-parent .paragraph {
  position: relative;
}
.testimonials-parent .paragraph .before {
  position: absolute;
  top: -20px;
  left: 10px;
}
.testimonials-parent .paragraph .after {
  position: absolute;
  bottom: -20px;
  right: 50px;
}

.stay-connetcted {
  background-image: linear-gradient(to bottom, white 70%, black 30%);
}
.footer-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-card .footer-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #84754d;
  border-radius: 50%;
  margin-bottom: 20px;
}
.footer-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 100px;
}
.footer-nav ul {
  align-items: center;
  justify-content: space-between;
}

.footer-nav ul li {
  margin-inline: 20px;
}

.footer-end {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  background-color: black;
  text-align: center;
  padding: 40px;
}
@media screen and (max-width: 767.98px) {
  .testimonials-parent {
    width: 100%;
  }
  .testimonials-parent .paragraph .before {
    position: absolute;
    top: -30px;
    left: 0px;
  }
  .testimonials-parent .paragraph .after {
    position: absolute;
    bottom: -20px;
    right: 0px;
  }
  .inputs {
    padding-inline: 0;
  }
  .intro form h1 {
    font-size: 25px;
  }
  .intro .h1-lg {
    font-size: 40px;
  }
  .intro {
    background-position: 0 0 300px 0 !important;
  }
}

.fixed-contact {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 20px;
  z-index: 999;
}

.fixed-contact div {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px 10px 0 10px;
  background-color: #84754d;
  margin-block: 10px;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 0 20px 20px #41bf2b23;
}

@media (max-width: 991.98px) {
  .intro {
    background-position: left !important;
  }
}
