body {
  font-family: "Inter", sans-serif;
}

/* global */
.text-main {
  color: #84754d;
}

.pointer {
  cursor: pointer;
}
.h1-lg {
  font-size: 56px;
}
.h1-md {
  font-size: 36px;
}
a {
  color: black;
  text-decoration: none;
}
.py-10 {
  padding-block: 50px;
}
.py-20 {
  padding-block: 100px;
}
.form-control {
  padding-block: 10px;
  border-radius: 10px;
}
.btn-outlined {
  border: 2px solid #84754d;
  border-radius: 10px;
  color: white;
  padding: 10px 50px;
}
.btn-outlined:hover {
  border: 2px solid #84754d;
  color: white;
}
.btn-main {
  background-color: #84754d;
  color: white;
  font-weight: 600;
  border-radius: 10px;
  padding: 10px 50px;
}
.btn-main:hover {
  background-color: rgb(96, 86, 59);
  color: white;
}

/* /////////////////// */
header .main-nav {
  padding-block: 30px;
  font-weight: 300;
}

header .main-nav,
header .main-nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
}
header .main-nav ul a {
  display: inline-block;
  padding: 10px 20px;
}

#escMinuBtn {
  width: 30px;
}

.mobile-nav .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.538);
  display: none;
}

.mobile-nav .content {
  position: fixed;
  top: 0;
  left: 0;
  width: 350px;
  height: 100vh;
  background-color: white;
  z-index: 99;
  padding: 20px;
  transform: translateX(-100%);
  transition: transform 0.3s;
}
.mobile-nav .content ul .mobile-nav-item {
  display: inline-block;
  padding: 10px 0 10px 10px;
  font-weight: 500;
  transition: transform 0.3s;
}
.mobile-nav .content ul .mobile-nav-item:hover {
  transform: translateX(10px);
}

.mobile-nav.active .overlay {
  display: block;
}

.mobile-nav.active .content {
  transform: translateX(0);
}

.intro {
  background-image: url(../images/introbg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin-bottom: 50px;
}
.intro::after {
  content: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 89789;
}

.spaced-text {
  font-weight: 600;
  letter-spacing: 5px;
  padding-inline-start: 5px;
}
.intro form {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.581),
    rgba(255, 255, 255, 0.204)
  );
  padding: 20px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.heading-shape {
  position: absolute;
  bottom: -10px;
  left: 0;
  margin-left: 50px;
  z-index: 99;
}
.inputs {
  padding-inline: 50px;
}
.intro-bottom {
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
}
.carousel-card {
  text-align: start;
  padding: 25px;
  border: 1px solid #84754d;
  border-radius: 10px;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.carousel-card img {
  width: 40px !important;
}
.carousel-card p {
  font-size: 14px;
}
